.loading {
  background: black;
  margin: 2rem auto;
  max-width: 25%;
  height: 2px;
  overflow: hidden;
}

.loading::after {
  animation: loading 500ms linear forwards infinite;
  background: white;
  content: '';
  display: block;
  height: 2px;
  width: 75%;
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(125%);
  }
}
