.button {
  background: black;
  border: none;
  border-radius: 25%;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: Roboto, sans-serif;
  margin: 1rem 0 0 auto;
  height: 32px;
  width: 32px;
}
